# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
echo '__pycache__/' >> .gitignore
git rm --cached -r sleekpay/__pycache__
git add .gitignore
git commit -m "Remove __pycache__ and add to .gitignore"
